body {
  background-color:hsla(127, 1%, 38%, 0.89);
}

form {
  display: flex;
  padding: 2%;
}
.container {
  margin: 10% auto;
  text-align: center;
  width: 70%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color:hsla(127, 1%, 19%, 0.89);
}

form .box {
  margin-right: 5% !important;
  margin-left: 2% !important;
  width: 90% !important;
  background-color: white;
  height: fit-content;
  border-radius: 10px !important;
}

.navbar {
  background-color: hsla(127, 1%, 19%, 0.89) !important;
}

.navbartext {
  font-size: 30px !important;
}

#cont {
  display: flex;
}

#cont li {
  font-size: 32px;
  margin: 0px !important;
  font-weight: 400;
  color: white;
}

#cont li:first-child {
  width: 90%;
}

.btngroup {
  display: flex;
}
.delbtn {
  height: 40px !important;
  margin-left: 6% !important;
}


.delicon {
  color: gray;
  margin-left: 10%;
  font-size: 28px !important;
}

.delicon:hover {
  color: white;
}

#btn {
  border-radius: 80px;
  height: 60px;
  width: 30px;
  font-size: 32px;
  background-color: hsla(127, 22%, 85%, 0.87) !important;
}

#delbtt {
  background-color: white;
  margin-left: 2%;
  height: 60px;
  width: 60px;
}

.item {
  min-height: 100px;
  height: fit-content;
  margin-top: 10%;
  padding: 0px !important;
}

@media screen and (max-width: 480px) {
  form {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }

  .btngroup {
    margin-top: 5%;
  }
}
